<form ng-submit="add(note)" ng-hide="editing">
  <p>
    <input
      type="text"
      name="title"
      id="note_title"
      placeholder="Title Your Note"
      ng-model="note.title">
  </p>
  <p>
    <textarea
      name="body_html"
      class="form-control"
      rows="4"
      placeholder="Just start typing..."
      ng-model="note.body_html"
      ></textarea>
  </p>
  <div class="form-actions">
    <div class="container wrap">
      <div class="row">
        <div class="col-xs-6">
          <input
            type="submit"
            name="commit"
            value="Add"
            class="btn btn-primary form-control">
        </div>
      </div>
    </div>
  </div>
</form>

<form ng-submit="save(note)" ng-show="editing">
  <p>
    <input
      type="text"
      name="title"
      id="note_title"
      placeholder="Title Your Note"
      ng-model="note.title">
  </p>
  <p>
    <textarea
      name="body_html"
      class="form-control"
      rows="4"
      placeholder="Just start typing..."
      ng-model="note.body_html"
      ></textarea>
  </p>
  <div class="form-actions">
    <div class="container wrap">
      <div class="row">
        <div class="col-xs-6">
          <input
            type="submit"
            name="commit"
            value="Save"
            class="btn btn-primary form-control">
        </div>
        <div class="col-xs-6">
          <input
            type="submit"
            name="remove"
            value="Remove"
            class="btn btn-danger form-control">
        </div>
      </div>
    </div>
  </div>
</form>
